<html>
<head>
<link rel="stylesheet" type="text/css" href="landingpage.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="form-style-2-heading">Welcome to Surprise Date!!!</div>
<div class="form-style-2">
<form action="" method="post">
<p><label for="field1"><span>Budget <span class="required">*</span></span><input type="number" class="input-field" name="Budget" value="" /></label></p>
<!--label for="field2"><span>Zip <span class="required">*</span></span><input type="number" class="input-field" name="Zip" value="" /></label-->
<p><label for="field2"><span>Date <span class="required">*</span></span><br><input type="date" class="input-field" name="StartTime" value="" /></label></p>
<p><label for="field2"><span>Location <span class="required">*</span></span><br><input type="text" class="input-field" name="StartLocation" value="" /></label></p>
<!--label><span>Location<span class="required">*</span></span><p>Current Location<input type="checkbox" style="border:2px dotted #00f;display:block;background:#ff0000;" name="location" value="" /></label>
<div id="map"></div-->
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 44.540, lng: -78.546},
          zoom: 5
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"async defer></script>
<label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
</form>
</div>
</body>
</html>
