<html>
<head>
<link rel="stylesheet" type="text/css" href="pref.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form action="" method="post">
	<div class="form-style-1"><p>Please Check Your Preferences</p></div>
	<br>
	<div class="form-style-2"><br>
		<div class="form-style-3">
			<label>Food</label>
			<p><input type="checkbox" name="vehicle" value="Bike"> American<br>
			<input type="checkbox" name="vehicle" value="Bike"> Indian<br>
		<input type="checkbox" name="vehicle" value="Bike"> Mexican<br>
	<input type="checkbox" name="vehicle" value="Bike"> Chinese<br>
<input type="checkbox" name="vehicle" value="Bike">Thai<br>
</p></div>
		<div class="form-style-4">
<label>Events</label>
			<p><input type="checkbox" name="vehicle" value="Bike">Movies<br>
		<input type="checkbox" name="vehicle" value="Bike">Theater<br>
	<input type="checkbox" name="vehicle" value="Bike">Concerts<br>
<input type="checkbox" name="vehicle" value="Bike">Festivals<br>
<input type="checkbox" name="vehicle" value="Bike">Sports<br>
</p></div>
  
	</div>
	
</form>

</body>
</html>